@model AndroidShowcase.WebUI.Models.ProductsViewModel

@{
    ViewBag.Title = "Products";
}

<h3>Products</h3>

@foreach (var p in Model.Products)
{
    <div>
        <h3>@p.ProductId</h3>
        @p.UserId ("user id")
        @p.Name
        @p.Description
        <h4>@p.Cost</h4>
    </div>
}

